<h1>Tabla con estilos personalizados</h1>

<table>
  <thead>
    <tr>
      <th>Productos</th>
      <th>Existencias</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
    <tr class="fila-gris">
      <td>Iphone</td>
      <td>10</td>
      <td>$2.000.000</td>
    </tr>
    <tr class="fila-azul">
      <td>Mouse</td>
      <td>100</td>
      <td>$50.000</td>
    </tr>
    <tr class="fila-gris">
      <td>PC Gamer</td>
      <td>2</td>
      <td>$3.000.000</td>
    </tr>

  </tbody>
</table>