/* You can add global styles to this file, and also import other style files */
:root{
    --color-fondos:var(--ninth-color);
    --primary-color: #008080;
    --secondary-color: #96b5f9;
    --tertiary-color: #FFD700;
    --quaternary-color: #9b6729;
    --fifth-color: #FF0000;
    --sixth-color: #800080;
    --seventh-color: #0000FF;
    --eighth-color: #00FF00;
    --ninth-color: #e48ab1;
    --tenth-color: #000000;
    --eleventh-color: #FFFFFF;

    --border-radius-1: .15rem;
    --font-size-1: 1rem;
    --font-family-1: 'Roboto', sans-serif;

}
html,body{
    margin:0;
    padding:0;
    background-color: var(--secondary-color);
    color: var(--sixth-color);
    font-family: var(--font-family-1);
    font-size: var(--font-size-1)

}